{% extends "layout.askama.html" %}

{% block body %}
<div class="login">
    <svg class="nextcloud-logo" height="100" viewBox="0 0 142 100" width="142" xmlns="http://www.w3.org/2000/svg">
        <use href="/img/nextcloud-logo.svg#logo"></use>
        <use href="/img/nextcloud-logo.svg#Nextcloud"></use>
        <text class="fallback-text" fill="var(--color-nextcloud-logo)" x="10" y="50">Nextcloud Logo</text>
    </svg>
    <h2>Nextcloud All-In-One is already installed</h2>
    <a class="button" href="/">Open Nextcloud AIO</a>
</div>
{% endblock %}
